.header{
    position:relative;
    height: 216px;
    background: #01233E;
}
.header .logo1 img {
    display: block;
    margin: 0px auto;
}
.banner .imagem1 img{
    display: block;
    margin: 0px auto;
    max-width: 100%;
}
.container{}
.container .logosmall img{
    display: block;
    margin: auto;
}
.container .col-6 .underline{
    border-bottom:solid;
    border-color: #01233E;
    border-width: 2px;   
}
.container .col-4{
    padding: 16px;
}
.container .col-12 .underline{
    border:solid;
    border-color: #01233E;
    border-width: 2px;
}
.container .socimg img{
    margin: auto;
    padding: 16px;   
}
.container .saiba .saibapage{
    background-color: #01233E;
    padding: 4px 24px;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-decoration:none;
}
.container .saiba2 .saibapage2{
    background-color: #FFFF;
    margin-top: auto;
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #01233E;
    border-radius: 6px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration:none;
}
.container .col-12{
    display: flex;
    margin: 0px, auto;
}
.footer{
    width: 100%;
    background: #01233E;
    bottom: 0;
}
